@using System.Globalization
@page "/"
@inject IJSRuntime JS

<PageTitle>Renz Malabanan</PageTitle>

<!--

    DEFAULT STYLING

    FONT-HERO text-5xl sm:text-6xl md:text-7xl uppercase
    FONT-HEADING text-center md:text-start text-blue-400 tracking-[0.3em]
    FONT-BODY text-center md:text-start text-lg leading-6 text-slate-300
    PRIMARY BUTTON  bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white 
                    py-3 px-5 rounded-md font-body transition-all duration-200
    SECONDARY BUTTON  border border-blue-400 text-blue-400 hover:text-white hover:shadow-lg hover:border-white hover:-translate-y-1
                      py-3 px-3 rounded-md transition-all duration-200

-->

<!-- HOME SECTION -->
<section 
    id="home"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center gap-12 pt-8">

    <div class="mx-auto w-full md:ps-20 max-w-7xl space-y-3">
        
        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Loading player 016...</p>

        <div class="text-center md:text-start">
            <h1 class="inline-block font-hero text-5xl sm:text-6xl md:text-7xl uppercase px-2 md:px-0">@heroModel?.HeroName</h1>
        </div>

        <p class="font-heading text-xl text-blue-400 text-center md:text-start uppercase tracking-[0.3em]">@heroModel?.HeroTitle</p>

        <p class="font-body text-center md:text-start text-lg leading-6 text-slate-300 break-nromal px-3 md:px-0">
            @heroModel?.HeroDescription
        </p>

        <div class="flex flex-row justify-center md:justify-start gap-3 mt-8">

            <a 
                href="#projects"
                class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white 
                py-3 px-5 rounded-md font-body transition-all duration-200">
                View Projects
            </a>

            <a 
                href="/hero/hero-resume-malabanan.pdf"
                target="_blank"
               class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)]  hover:-translate-y-1
                py-3 px-3 rounded-md transition-all duration-200">
                View Resume
            </a>

        </div>

    </div>

    <div class="mx-auto w-75 md:w-1/2 max-w-3xl px-6">

        <img 
            class="border border-blue-400 rounded-2xl"
            src="@heroModel?.HeroImage" />

    </div>

</section>

<!-- ABOUT SECTION -->
<section 
    id="about"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-7xl space-y-8">

        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Character Sheet</p>
        
        <div class="text-center">
        
            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">About</h1>

        </div>

        <div class="max-w-3xl mx-auto text-center font-body text-slate-300 text-lg space-y-3 leading-6">
            @if (aboutModel != null)
            {
                @foreach (var description in aboutModel.DescriptionParagraphs)
                {
                    <div class="px-3">
                        @description
                    </div>
                }

                <div class="font-heading text-sm text-center text-blue-400 tracking-[0.3em] pt-8">
                    > Skills Unlocked:
                </div>

                <div class="flex flex-wrap items-center justify-center gap-4">
                    @foreach (var skill in aboutModel.Skills)
                    {
                        <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 flex items-center justify-center
                             w-30 h-8 text-center rounded-md font-body transition-all duration-200">
                            @skill
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    Nothing to display.
                </div>
                <div class="font-heading text-sm text-center text-blue-400 tracking-[0.3em] pt-8">
                    > Skills Unlocked:
                </div>
                <div>
                    Nothing to display.
                </div>
            }
        </div>

    </div>

</section>

<!-- PROJECTS SECTION -->
<section 
    id="projects"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-6xl space-y-8">
        
        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Completed Quests</p>

        <div class="text-center">

            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">Projects</h1>

        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em]"> > Main Quest</p>

        <div class="flex items-center justify-center">
            <div class="w-fit p-4">

                <h1 class="inline-block font-body text-slate-300 text-3xl
                    duration-200 hover:shadow-lg
                    hover:-translate-y-1 border-b border-blue-400 shadow-xl/50  shadow-sky-500
                    md:text-4xl uppercase font-bold">PlanterAid</h1>
            </div>
        </div>

        <div class="flex flex-col items-center text-start font-body text-slate-300 text-lg space-y-3 leading-6 px-3">

            <div class="flex flex-col gap-3 rounded-2xl py-3 px-2">

                <div class="flex justify-between border border-blue-400 text-blue-400 rounded-2xl py-3 px-2">
                    <button class="flex justify-center items-center"
                            @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-left
                                             cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M11 17h6l-4 -5l4 -5h-6l-4 5l4 5" />
                        </svg>
                    </button>
                    <div class="flex justify-center">
                        @if (isCapstoneVideoSelected)
                        {
                            <video @key="selectedCapstoneProjectMedia?.Source" autoplay muted loop playsinline controls>
                                <source src="@selectedCapstoneProjectMedia?.Source">
                            </video>
                        }
                        else
                        {
                            <img src="@selectedCapstoneProjectMedia?.Source" />
                        }
                    </div>
                    <button class="flex justify-center items-center"
                            @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-right
                                            cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M13 7h-6l4 5l-4 5h6l4 -5l-4 -5" />
                        </svg>
                    </button>
                </div>

                <div class="flex gap-2 text-blue-400 rounded-2xl overflow-y-hidden overflow-x-auto py-4 ">
                    @foreach (var media in capstoneProjectModel.Medias.OrderByDescending(t => t.IsVideo))
                    {
                        var isVideoThumb = media.IsVideo && media.Type == FileTypes.PNG;

                        if (isVideoThumb)
                        {
                            <div class="relative w-28 h-12 group transition-all duration-200
                                        hover:shadow-lg hover:-translate-y-1">
                                <button class="relative w-full h-full cursor-pointer" @onclick="() => SwitchCapstoneMedia(media.Key)">
                                    @if (isCapstoneVideoSelected)
                                    {
                                        <img class="w-full h-full object-cover border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                             src="@media.Source" />
                                    }
                                    else
                                    {
                                        <img class="w-full h-full"
                                             src="@media.Source" />
                                    }

                                    <div class="absolute inset-0 flex items-center justify-center text-slate-300">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        }
                        else if (!media.IsVideo && media.Type == FileTypes.PNG)
                        {
                            @if (media.Key == selectedCapstoneProjectMedia?.Key)
                            {
                                <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                     hover:-translate-y-1 border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                     src="@media.Source"
                                     @onclick="() => SwitchCapstoneMedia(media.Key)" />
                            }
                            else {
                                <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                     hover:-translate-y-1"
                                     src="@media.Source"
                                     @onclick="() => SwitchCapstoneMedia(media.Key)" />
                            }
                        }
                    }
                </div>
            </div>

            <div class="md:grid md:grid-cols-[180px_1fr] gap-x-4 gap-y-3
                        border border-blue-400 rounded-2xl p-3 font-body text-slate-300">

                <div class="font-bold underline">Description:</div>

                    <div class="leading-6">
                        @capstoneProjectModel.Description
                    </div>

            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 max-w-4xl mx-auto pt-2 font-body text-slate-300">

                <div class="flex flex-col md:w-[350px] gap-3 rounded-2xl scrollbar-thin
                    py-3 px-2 border border-blue-400 overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">

                    <div class="text-2xl text-center font-bold">
                        Features
                    </div>

                    <div class="flex flex-wrap justify-center gap-3">
                        @foreach (var feature in capstoneProjectModel.FeaturesList)
                        {
                            <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 text-white flex items-center
                                justify-center w-auto h-auto p-2 text-center rounded-md font-body cursor-pointer transition-all duration-200">
                                @feature
                            </div>
                        }
                    </div>

                </div>
                <div class="flex flex-col md:w-[350px] gap-3 rounded-2xl scrollbar-thin
                    py-3 px-2 border border-blue-400 overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">

                    <div class="text-2xl text-center font-bold">
                        Powered By
                    </div>

                    <div class="flex flex-wrap justify-center gap-3">
                        @foreach (var tech in capstoneProjectModel.TechStack)
                        {
                            <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 text-white flex items-center
                                justify-center w-30 h-auto text-center rounded-md font-body cursor-pointer transition-all duration-200">
                                @tech
                            </div>
                        }
                    </div>

                </div>
                <div class="flex items-center justify-center">
                    <div class="flex flex-col md:w-30 md:max-h-30 gap-3 rounded-2xl py-3 px-2 border border-blue-400 overflow-y-auto">

                        <div class="text-2xl text-center font-bold">
                            Status
                        </div>

                        <div class="flex flex-wrap justify-center gap-3">

                            <div class="bg-green-500 hover:bg-green-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center
                            justify-center w-30 h-5 text-center rounded-md font-body cursor-pointer transition-all duration-200 uppercase">
                                @capstoneProjectModel.ProjectStatus
                            </div>

                        </div>

                    </div>

                </div>
                <div class="flex items-center justify-center">
                    <div class="flex flex-col md:w-50 md:max-h-35 gap-3 rounded-2xl py-3 px-2 border border-blue-400 overflow-y-auto">

                        <div class="text-2xl text-center font-bold">
                            Completed On
                        </div>

                        <div class="flex flex-wrap justify-center gap-3">

                            <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 text-white flex items-center
                            justify-center w-35 h-5 text-center rounded-md font-body px-1 cursor-pointer transition-all duration-200">
                                @capstoneProjectModel.Date.ToString("MMMM yyyy")
                            </div>

                        </div>

                    </div>

                </div>
                
            </div>

        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em]"> > Side Quests</p>
        
        <div class="flex flex-col mx-auto md:w-3xl lg:w-5xl rounded-2xl gap-8 border border-blue-400">

            <div class="flex justify-center pt-3">
                
                <div class="flex justify-between px-3 md:w-160 border border-blue-400 rounded-2xl">

                    @foreach (var year in projectYears)
                    {
                        <div class="
                            text-center w-15 rounded-2xl hover:text-white
                            hover:shadow-lg cursor-pointer transition-all duration-200 hover:border-white hover:-translate-y-1 "
                             @onclick="async () => await SwitchSelectedProjectYear(year.Year)">
                            @if (year.Year == selectedYear)
                            {
                                <div class="underline underline-offset-3 decoration-1 decoration-slate-300">
                                    Year @year.Year
                                </div>
                            }
                            else
                            {
                                <div>
                                    Year @year.Year
                                </div>
                            }
                        </div>
                    }

                </div>

            </div>

            <div class="flex flex-col justify-between py-3 px-1.25 md:px-3 gap-5">
                @if (selectedProjectModel != null)
                {
                    var mediaCount = Math.Min(displayedMedia - 1, selectedProjectModel.Medias.Count);
                    var videoMedia = selectedProjectModel.Medias.Where(t => t.IsVideo).FirstOrDefault();
                    var videoThumb = selectedProjectModel.Medias
                        .Where(t => t.IsVideo && t.Type == FileTypes.PNG)
                        .FirstOrDefault();

                    <div class="flex flex-col md:flex-row justify-between gap-1.5 md:gap-2">
                        <div class="mx-auto flex flex-col gap-2">
                            <div class="flex justify-between border border-blue-400 font-bold rounded-2xl py-3 px-2">
                                <button class="flex justify-center items-center"
                                        @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-left
                                         cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 17h6l-4 -5l4 -5h-6l-4 5l4 5" />
                                    </svg>
                                </button>
                                <div class="flex justify-center">
                                    @if (isVideoSelected)
                                    {
                                        <video @key="videoMedia?.Source" autoplay muted loop playsinline controls>
                                            <source src="@videoMedia?.Source">
                                        </video>
                                    }
                                    else
                                    {
                                        <img src="@selectedProjectMedia?.Source" />
                                    }
                                </div>
                                <button class="flex justify-center items-center" 
                                        @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-right
                                        cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M13 7h-6l4 5l-4 5h6l4 -5l-4 -5" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex justify-center items-center gap-5 py-3 px-2 border border-blue-400 text-blue-400 rounded-2xl">
                                <div class="relative w-28 h-12 group transition-all duration-200
                                    hover:shadow-lg hover:-translate-y-1">
                                    <button class="relative w-full h-full cursor-pointer" @onclick="() => SwitchSelectedMedia(videoThumb.Key)">
                                        @if (selectedProjectMedia.IsVideo)
                                        {
                                            <img class="w-full h-full object-cover border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                                 src="@videoThumb?.Source" />
                                        }
                                        else
                                        {
                                            <img class="w-full h-full"
                                                 src="@videoThumb?.Source" />
                                        }

                                        <div class="absolute inset-0 flex items-center justify-center text-slate-300">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                 fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>

                                @for (int i = 0; i < mediaCount; i++)
                                {
                                    var media = selectedProjectModel.Medias[i];

                                    if (media.Source != videoMedia?.Source && media.Source != videoThumb?.Source)
                                    {
                                        if (selectedProjectMedia.Key == media.Key)
                                        {
                                            <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                                 hover:-translate-y-1 border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                                 src="@media.Source" 
                                                 @onclick="() => SwitchSelectedMedia(media.Key)"/>
                                            
                                        }
                                        else {
                                            <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                                 hover:-translate-y-1"
                                                 src="@media.Source" 
                                                 @onclick="() => SwitchSelectedMedia(media.Key)"/>
                                        }
                                    }
                                }

                                @if (selectedProjectModel.Medias.Count > mediaCount)
                                {
                                    <div class="relative w-28 h-12 bg-black/90 group cursor-pointer transition-all duration-200
                                            hover:shadow-lg hover:-translate-y-1">
                                        <button @onclick="() => ToggleGalleryView(true, mediaCount)">
                                            <img class="w-full h-full blur-sm"
                                                 src="@selectedProjectModel.Medias[mediaCount].Source" />

                                            <div class="absolute inset-0 flex items-center justify-center text-slate-300">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="icon icon-tabler icons-tabler-outline icon-tabler-square-plus">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M9 12h6" />
                                                    <path d="M12 9v6" />
                                                    <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14" />
                                                </svg>
                                                <div class="ps-1">
                                                    @((selectedProjectModel.Medias.Count - mediaCount) - 1)
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="mx-auto flex flex-col items-center justify-center font-body
                            p-3 border border-blue-400 rounded-2xl gap-3">
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Powered By: </div>
                            <div class="flex flex-wrap justify-center gap-3">
                                @foreach (var tech in selectedProjectModel.TechStack)
                                {
                                    <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 text-white flex items-center
                                        justify-center w-22 h-auto text-center rounded-md font-body cursor-pointer transition-all duration-200">
                                        @tech
                                    </div>
                                }
                            </div>
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Status: </div>
                            <div class="border border-blue-400 hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 text-white flex items-center
                                justify-center w-22 h-4 text-center rounded-md font-body cursor-pointer transition-all duration-200 p-3">
                                @selectedProjectModel.ProjectStatus
                            </div>
                        </div>
                    </div>

                    <div class="md:grid md:grid-cols-[180px_1fr] gap-x-4 gap-y-3
                        border border-blue-400 rounded-2xl p-3
                        font-body">

                        <div class="font-bold underline">Title:</div>
                        <div class="text-slate-300">@selectedProjectModel.ProjectName</div>

                        <div class="font-bold underline">Description:</div>
                        <div class="max-h-24 overflow-y-auto text-slate-300">
                            @selectedProjectModel.Description
                        </div>

                        <div class="font-bold underline">Features:</div>
                        <div class="max-h-24 overflow-y-auto text-slate-300">
                            @selectedProjectModel.Features
                        </div>

                        <div class="font-bold underline">Credits:</div>
                        <div class="max-h-24 overflow-y-auto text-slate-300">
                            @selectedProjectModel.Credits
                        </div>

                    </div>
                }
                else
                {
                    <h1 class="font-body text-3xl text-slate-300 font-bold">Nothing to display.</h1>
                }

            </div>

        </div>

    </div>

</section>

<!-- EXPERIENCE SECTION -->
<section 
    id="experience"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-7xl space-y-8">

        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Achievements</p>

        <div class="text-center px-3">

            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">Experience</h1>
        
        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em]"> > Career Logs</p>

        <div class="flex flex-col mx-auto md:w-3xl lg:w-5xl rounded-2xl gap-8 border border-blue-400">

            <div class="flex flex-col max-h-125 md:flex-row justify-between py-3 px-2 md:px-3 gap-5">
                
                <div class="flex flex-col gap-3 md:w-75 h-60 md:h-full overflow-y-auto scrollbar-thin scrollbar-thumb-blue-400 scroll-smooth pe-3">         
                    @foreach (var careerLog in careerLogsModels.Values.OrderByDescending(t => t.EndDate))
                    {
                        var startDate = careerLog.StartDate.ToString("MMM yyyy");
                        var endDate = careerLog.EndDate.ToString("MMM yyyy");

                        @if (careerLog.Key == selectedCareerLogsModel?.Key)
                        {
                            <button class="cursor-pointer transition-all duration-200 hover:shadow-lg ps-3 
                                    hover:-translate-y-1 bg-blue-500/10 font-semibold border-l-2 border-blue-400"
                                    @onclick="() => SwitchSelectedCareer(careerLog.Key)">
                                @startDate - @endDate
                            </button>
                        }
                        else
                        {
                            <button class="cursor-pointer transition-all duration-200 hover:shadow-lg ps-3
                                    hover:-translate-y-1 bg-blue-500/10"
                                    @onclick="() => SwitchSelectedCareer(careerLog.Key)">
                                @startDate - @endDate
                            </button>
                        }
                    }
                </div>

                <div class="flex flex-1 flex-col items-center gap-4 overflow-y-auto scrollbar-thin scrollbar-thumb-blue-400 scroll-smooth px-3">
                    <div>
                        <img class="w-full max-h-24 object-cover" src="@selectedCareerLogsModel?.Logo" />
                    </div>

                    <div class="text-[11px] text-slate-400/60 text-center">
                        Logo © @selectedCareerLogsModel?.Company. Used for identification purposes only.
                    </div>

                    <div class="mt-5">
                        <div class="font-heading text-center font-bold text-3xl">
                            @selectedCareerLogsModel?.Company
                        </div>
                        <div class="font-body text-center font-bold underline underline-offset-3 decoration-1 
                            decoration-slate-300 text-xl pt-1">
                            @selectedCareerLogsModel?.Position
                        </div>
                    </div>

                    <div class="font-body text-center text-slate-300 text-leading-6">
                        @foreach (var description in selectedCareerLogsModel?.DescriptionParagraphs)
                        {
                            <div>@description</div>
                        }
                    </div>

                    <div class="font-heading font-bold underline underline-offset-3 decoration-1 decoration-slate-300">
                        Achievements
                    </div>

                    <div class="font-body text-slate-300 text-leading-6">
                        @foreach (var achievement in selectedCareerLogsModel?.Achievements)
                        {
                            <div class="text-center">
                                > @achievement
                            </div>
                        }
                    </div>

                    @if (selectedCareerLogsModel.HasReport)
                    {
                        <a href="@selectedCareerLogsModel?.Report" target="_blank" rel="noreferrer"
                           class="flex flex-col md:w-[350px] md:h-15 gap-3 rounded-2xl py-3 px-2 border border-blue-400
                            hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 font-body transition-all duration-200
                            cursor-pointer">

                            <div class="flex flex-1 flex-wrap items-center justify-center gap-3">

                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="icon icon-tabler icons-tabler-outline icon-tabler-file-text">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2" />
                                    <path d="M9 9l1 0" />
                                    <path d="M9 13l6 0" />
                                    <path d="M9 17l6 0" />
                                </svg>

                                <div>View internship report</div>

                            </div>

                        </a>
                    }
                </div>
                
            </div>
                
        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em] px-2"> > Career Acknowledgements</p>

        <div class="flex flex-col mx-auto md:w-3xl lg:w-5xl rounded-2xl gap-8 border border-blue-400 p-3">
            
            <div class="flex justify-center pt-3">
                <div class="flex justify-center px-3 border border-blue-400 rounded-2xl gap-16 py-2 px-6 md:px-12">
                    @foreach (var acknowledgementType in acknowledgementTypesModels)
                    {
                        <div class="text-center rounded-2xl hover:text-white
                            hover:shadow-lg cursor-pointer transition-all duration-200 hover:border-white hover:-translate-y-1 "
                             @onclick="() => SwitchSelectedAcknowledgementType(acknowledgementType.AcknowledgementType)">

                            @if (acknowledgementType.AcknowledgementType == selectedAcknowledgementTypeModel?.AcknowledgementType)
                            {
                                <div class="underline underline-offset-3 decoration-1 decoration-slate-300">
                                    @acknowledgementType.AcknowledgementName
                                </div>
                            }
                            else
                            {
                                <div>
                                    @acknowledgementType.AcknowledgementName
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="flex flex-col flex-1 max-h-100 p-3 gap-3 overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">

                <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                @if (selectedAcknowledgementTypeModel?.AcknowledgementType == AcknowledgementTypes.Certificates)
                {
                    @foreach (var issuer in certificateIssuerModels)
                    {
                        <div class="text-center text-2xl underline underline-offset-3 font-bold py-6">
                            @issuer.Issuer
                        </div>

                        <div class="flex flex-col md:flex-row flex-wrap items-center justify-center text-slate-300 text-center gap-8 p-3">
                            
                            @foreach (var data in issuer.Certificates)
                            {
                                var source = data.HasSource ? data.Source : "/";

                                <a href="@source" rel="noreferrer" target="_blank"
                                   class="flex flex-col w-44 items-center justify-center text-leading-6
                                    rounded-2xl py-3 px-2 border border-blue-400
                                    hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)]
                                    hover:-translate-y-1 font-body transition-all duration-200 cursor-pointer">
                                    <img class="max-w-28 object-cover"
                                         src="/acknowledgements/certificates/comptia/comptia-techplus-certificate.png" />
                                    <div class="font-body font-semibold tracking-wide">
                                        @data.CertificateName
                                    </div>
                                    <div class="text-sm">
                                        @data.DateIssued.ToString("MMMM dd, yyyy")
                                    </div>
                                    <div class="flex gap-2 items-center justify-center pt-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-link">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 15l6 -6" />
                                            <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                            <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                                        </svg>
                                        <div class="text-sm">
                                            Verify
                                        </div>
                                    </div>
                                </a>
                            }

                        </div>
                    }
                }
                else if (selectedAcknowledgementTypeModel?.AcknowledgementType == AcknowledgementTypes.SkillBadges)
                {
                    @foreach (var issuer in skillBadgeIssuerModels)
                    {
                        <div class="text-center text-2xl underline underline-offset-3 font-bold py-6">
                            @issuer.Issuer
                        </div>

                        <div class="flex flex-col md:flex-row flex-wrap items-center justify-center text-slate-300 text-center gap-8 p-3">

                            @foreach (var data in issuer.SkillBadges)
                            {
                                var source = data.HasSource ? data.Source : "/";

                                <a href="@source" rel="noreferrer" target="_blank"
                                   class="flex flex-col w-44 items-center justify-center text-leading-6
                                                rounded-2xl py-3 px-2 border border-blue-400
                                                hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)]
                                                hover:-translate-y-1 font-body transition-all duration-200 cursor-pointer">
                                    <img class="max-w-28 object-cover"
                                         src="/acknowledgements/certificates/comptia/comptia-techplus-certificate.png" />
                                    <div class="font-body font-semibold tracking-wide">
                                        @data.SkillBadgeName
                                    </div>
                                    <div class="text-sm">
                                        @data.DateIssued.ToString("MMMM dd, yyyy")
                                    </div>
                                    <div class="flex gap-2 items-center justify-center pt-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="icon icon-tabler icons-tabler-outline icon-tabler-link">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M9 15l6 -6" />
                                            <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                                            <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
                                        </svg>
                                        <div class="text-sm">
                                            Verify
                                        </div>
                                    </div>
                                </a>
                            }

                        </div>
                    }
                }

            </div>

        </div>

    </div>

</section>

<!-- CONTACT SECTION -->
<section 
    id="contact"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-7xl space-y-8">
       
        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Communication Terminal</p>

        <div class="text-center px-3">

            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">Contact</h1>

            <p class="font-body text-2xl text-slate-300 py-3">
                @foreach (var text in contactModel?.MainDescriptionParagraphs)
                {
                    <div>
                        @text
                    </div>
                }
            </p>

            <div class="max-w-3xl mx-auto text-center font-body text-slate-300 text-lg space-y-3 leading-6">

                <div>
                    @foreach (var text in contactModel?.SubDescriptionParagraphs)
                    {
                        <div>
                            @text
                        </div>
                    }
                </div>
                
                <div class="flex flex-col md:flex-row flex-wrap justify-center gap-8 max-w-4xl mx-auto pt-2 px-3 font-body text-slate-300">
                    @foreach (var channel in contactModel?.ContactChannels)
                    {
                        <a 
                            href="@channel.ChannelLink"
                           class="flex flex-col md:w-[350px] md:h-15 gap-3 rounded-2xl py-3 px-2 border border-blue-400 overflow-y-auto
                            hover:border-cyan-300 hover:shadow-[0_0_18px_rgba(59,130,246,0.35)] hover:-translate-y-1 font-body transition-all duration-200 text-slate-300
                            cursor-pointer">

                            <div class="flex flex-1 flex-wrap items-center justify-center gap-3">

                                @if (channel.SVGType == SVGTypes.Email)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-mail">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10" />
                                        <path d="M3 7l9 6l9 -6" />
                                    </svg>
                                }
                                else if (channel.SVGType == SVGTypes.LinkedIn)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M8 11v5" />
                                        <path d="M8 8v.01" />
                                        <path d="M12 16v-5" />
                                        <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                                        <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4l0 -10" />
                                    </svg>
                                }
                                else if (channel.SVGType == SVGTypes.Github)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                                    </svg>
                                }

                                <div>@channel.ChannelName</div>

                            </div>

                        </a>
                    }
                </div>

                <div class="pt-3">
                    @contactModel.LocationText
                </div>

                <div>
                    @contactModel.OpenJobText
                </div>

            </div>

        </div>

    </div>

</section>

<!-- MODALS -->

<!-- GALLERY -->
@if (isGalleryOpened)
{
    var mediaCount = Math.Min(displayedMedia - 1, selectedProjectModel.Medias.Count);
    var maxAvailableMedia = selectedProjectModel.Medias.Count - 1;


    <div class="fixed inset-0 bg-black/70 flex items-center justify-center z-50 transition-opacity duration-5000
        @(isGalleryOpened ? "opacity-100" : "opacity-0 pointer-events-none")"
        @onclick="() => ToggleGalleryView(false)">

        <div class="flex flex-col bg-[#39406F] rounded-xl w-[900px] max-w-[90vw] h-[400px] gap-3 p-3 transition-all duration-300
            @(isGalleryOpened
                ? "opacity-100 scale-100"
                : "opacity-0 scale-95")"
            @onclick:stopPropagation>

            TEST
            @mediaCount
            @maxAvailableMedia

            <button class="flex justify-end text-slate-300"
                    @onclick="() => ToggleGalleryView(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-x
                     cursor-pointer transition-all hover:shadow-lg hover:-translate-y-1">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" /><path d="M6 6l12 12" />
                </svg>
            </button>

            <div class="flex font-body text-slate-300 text-2xl justify-center border-y">
                Gallery
            </div>

            <div class="flex-1 flex flex-col md:flex-row w-full gap-3 overflow-hidden">

                <!-- Viewer -->
                <div class="flex justify-center items-center flex-1 h-full w-full md:w-5xl">

                    <img class="max-h-full max-w-full object-contain"
                         src="@selectedGalleryProjectMedia.Source" />

                </div>

                <!-- Thumbnails -->
                <div class="flex flex-row md:flex-col gap-3 p-3 w-75 overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">

                    @for (int i = mediaCount; i < maxAvailableMedia; i++)
                    {
                        var media = selectedProjectModel.Medias[i];
                        if (selectedGalleryProjectMedia.Key == selectedProjectModel.Medias[i].Key)
                        {
                            <img class="max-h-full max-w-full object-contain cursor-pointer transition-all duration-200 hover:shadow-lg
                                hover:-translate-y-1 border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                src="@media.Source"
                                @onclick="() => SwitchSelectedMedia(media.Key)" />

                        }
                        else
                        {
                            <img class="max-h-full max-w-full object-contain cursor-pointer transition-all duration-200 hover:shadow-lg
                                 hover:-translate-y-1"
                                 src="@media.Source"
                                 @onclick="() => SwitchSelectedMedia(media.Key)" />
                        }
                    }

                </div>

            </div>

        </div>

    </div>
}

@code {
    //Models
    private HeroModel? heroModel;
    private AboutModel? aboutModel;
    private ProjectsModel? selectedProjectModel;
    private ProjectsModel? capstoneProjectModel;
    private ProjectMedia? selectedCapstoneProjectMedia;
    private ProjectMedia? selectedProjectMedia;
    private ProjectMedia? selectedGalleryProjectMedia;
    private CareerLogsModel? selectedCareerLogsModel;
    private AcknowledgementTypeModel? selectedAcknowledgementTypeModel;
    private ContactModel? contactModel;

    //Dictionaries
    private Dictionary<int, List<ProjectsModel>> projectsModels = new();
    private Dictionary<int, CareerLogsModel> careerLogsModels = new();

    //Lists
    private List<ProjectYears> projectYears = new();
    private List<AcknowledgementTypeModel> acknowledgementTypesModels = new();
    private List<CertificateIssuerModel> certificateIssuerModels = new();
    private List<SkillBadgeIssuerModel> skillBadgeIssuerModels = new();

    //Strings
    private string projectSelectedYear = "";

    //Int
    private int selectedYear = 0;
    private int projectModelIndex = 0;
    private int projectMediaIndex = 0;
    private int capstoneProjectMediaIndex = 0;
    private int displayedMedia = 0;

    //Const
    private const int MAX_DISPLAYED_MEDIA = 4;

    //Bool
    private bool isSelectedProjectYear = false;
    private bool isVideoSelected = true;
    private bool isCapstoneVideoSelected = true;
    private bool isGalleryOpened = false;

    protected override void OnInitialized()
    {
        PopulateHero();
        PopulateAbout();
        PopulateMainProject();
        PopulateCareerLogs();
        PopulateAcknowledgementTypes();
        PopulateCertificates();
        PopulateSkillBadges();
        PopulateContact();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            PopulateYears();
            PopulateSideProjects();

            var width = await JS.InvokeAsync<int>("GetWindowSize");

            displayedMedia = width <= 320 ? MAX_DISPLAYED_MEDIA - 1 : MAX_DISPLAYED_MEDIA;

            await InvokeAsync(StateHasChanged);
        }
    }

    private void PopulateHero()
    {
        heroModel = new HeroModel
        (
            heroName: "Renz Malabanan",
            heroTitle: "Full-Stack .NET Developer",
            heroDescription: "Building modern web applications, IoT Systems, and Interactive Experience",
            heroImage: "/hero/hero-malabanan.png"
        );
    }

    private void PopulateAbout()
    {
        aboutModel = new AboutModel
        (
            descriptionParagraphs: new List<string>
            {
                "I am a fourth-year Information Technology student specializing in the Internet of Things (IoT), " +
                "with a passion for building modern web applications and connected systems.",
                "I enjoy exploring game mechanics, understanding how systems work under the hood, and developing " +
                "applications that combine functionality with an intuitive user experience."
            },
            skills: new List<string>
            {
                "C#", "Kotlin", "PHP", "Tailwind", "SQL", ".NET Blazor", "RESTful API", "IoT"
            }
        );
    }

    private void PopulateMainProject()
    {
        DateTime date;

        capstoneProjectModel = new ProjectsModel
        {
            Date = DateTime.TryParseExact("07-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            ProjectName = "PlanterAid",
            ProjectStatus = "Complete",
            TechStack = new List<string>
            {
                "Blazor .NET Core 8.0", "C#", "RESTful API", "MySQL", "Semaphore", "Leaflet.JS", "Chart.JS",
                "Bootstrap", "JavaScript", "IoT Sensors", "DFRobot", "Sparkfun", "Sensirion", "U-blox",
                "Lolin WeMos"
            },
            Medias = new List<ProjectMedia>
            {
                new (key: 0, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-gameplay-demo.mp4", type: FileTypes.MP4, isVideo: true),
                new (key: 1, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-1.png", type: FileTypes.PNG),
                new (key: 2, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-2.png", type: FileTypes.PNG),
                new (key: 3, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-3.png", type: FileTypes.PNG),
                new (key: 4, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-4.png", type: FileTypes.PNG),
                new (key: 5, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-5.png", type: FileTypes.PNG),
                new (key: 6, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-6.png", type: FileTypes.PNG),
                new (key: 7, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-video-thumb.png", type: FileTypes.PNG, isVideo: true),
            },
            Description = """"
                Developed an IoT-integrated, full-stack web application that enables multi-zone agricultural monitoring through
                distributed sensor nodes. The system aggregates environmental data, visualizes near real-time and historical
                readings, tracks sensor locations using GPS, delivers literature-based recommendations, and sends SMS alerts
                to support informed decision-making for pineapple crop production.
                """",
            FeaturesList = new List<string>
            {
                "Multi-zone farm monitoring",
                "Near real-time dashboard",
                "Historical sensor analytics",
                "Literature-based recommendations",
                "SMS alert notifications",
                "Interactive charts & reports",
                "PDF report generation",
                "Secure user authentication",
                "Responsive web interface"
            },
            Credits = """"
                Sound effects by Pixabay, background music by Chillpeach, with selected logo and image assets from Frank Cone, Daniel Nettesheim, Brett Sayles, and Google.
                """"
        };

        SwitchCapstoneMedia(capstoneProjectModel.Medias.Select(t => t.Key).FirstOrDefault());
    }

    private void PopulateYears()
    {
        for (int i = 1; i < 5; i++)
        {
            projectYears.Add(
                new ProjectYears
                {
                    Year = i
                }
            );
        }

        selectedYear = projectYears.Select(t => t.Year).FirstOrDefault();
    }

    private void PopulateSideProjects()
    {
        DateTime date;
        List<ProjectsModel> yearOneProjectModels = new List<ProjectsModel>
        {
            new ProjectsModel
            {
                Date = DateTime.TryParseExact("06-22", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                ProjectName = "4 Pics 1 Word",
                ProjectStatus = "Complete",
                TechStack = new List<string>
                {
                    "Python", "Tkinter"
                },
                Medias = new List<ProjectMedia>
                {
                    new (key: 0, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-gameplay-demo.mp4", type: FileTypes.MP4, isVideo: true),
                    new (key: 1, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-1.png", type: FileTypes.PNG),
                    new (key: 2, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-2.png", type: FileTypes.PNG),
                    new (key: 3, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-3.png", type: FileTypes.PNG),
                    new (key: 4, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-4.png", type: FileTypes.PNG),
                    new (key: 5, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-5.png", type: FileTypes.PNG),
                    new (key: 6, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-6.png", type: FileTypes.PNG),
                    new (key: 7, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-video-thumb.png", type: FileTypes.PNG, isVideo: true),
                },
                Description = """"
                A desktop word puzzle game developed in Python using Tkinter, inspired by the popular mobile game 4 Pics 1 Word. This was the first complete software project I built and marked the beginning of my software development journey.        
                """",
                Features = """"
                The game features 50 handcrafted levels, a coin system with Hint and Skip Level mechanics, randomized on-screen keyboards, loading and credits screens, fullscreen support, and a simple New Game+ mode that loops back to Level 1 after completion.
                """",
                Credits = """"
                Sound effects by Pixabay, background music by Chillpeach, with selected logo and image assets from Frank Cone, Daniel Nettesheim, Brett Sayles, and Google.
                """"
            }
        };

        List<ProjectsModel> yearTwoProjectModels = new List<ProjectsModel>
        {
            new ProjectsModel
            {
                Date = DateTime.TryParseExact("11-23", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                ProjectName = "Chains of Money",
                ProjectStatus = "Unfinished",
                TechStack = new List<string>
                {
                    "C#", "Windows Forms"
                },
                Medias = new List<ProjectMedia>
                {
                    new (key: 0, source: "/projects/year-2/chains-of-money/chains-of-money-gameplay-demo.mp4", type: FileTypes.MP4, isVideo: true),
                    new (key: 1, source: "/projects/year-2/chains-of-money/chains-of-money-thumb-1.png", type: FileTypes.PNG),
                    new (key: 2, source: "/projects/year-2/chains-of-money/chains-of-money-thumb-2.png", type: FileTypes.PNG),
                    new (key: 3, source: "/projects/year-2/chains-of-money/chains-of-money-thumb-3.png", type: FileTypes.PNG),
                    new (key: 4, source: "/projects/year-2/chains-of-money/chains-of-money-thumb-4.png", type: FileTypes.PNG),
                    new (key: 5, source: "/projects/year-2/chains-of-money/chains-of-money-thumb-5.png", type: FileTypes.PNG),
                    new (key: 6, source: "/projects/year-2/chains-of-money/chains-of-money-video-thumb.png", type: FileTypes.PNG, isVideo: true),
                },
                Description = """"
                A 2D desktop boxing game developed in C# using Windows Forms. This was my first major C# project and marked my transition from Python to C#, where I learned the fundamentals of object-oriented programming, timers, and event-driven development.
                """",

                Features = """"
                The game features AI-controlled opponents, round-based boxing matches with health and stamina systems, a ranking screen, settings menu, custom pixel-art animations, and handcrafted game assets created during development.
                """",
                Credits = """"
                Background music and selected audio/image assets belong to their respective creators. The boxer sprites, animations, logo, and several in-game visual assets were designed and created by our team.
                """",
            }
        };

        projectsModels = new Dictionary<int, List<ProjectsModel>>
        {
            {
                1, yearOneProjectModels
            },
            {
                2, yearTwoProjectModels
            }
        };

        if (projectsModels.TryGetValue(selectedYear, out var model)) 
        {
            if (model != null)
            {
                selectedProjectModel = model.FirstOrDefault();
                selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault();
            }
        }

        /*
        Lol you don't have a DB.. Hardcoding for portfolio is fine 

            foreach (var projYear in projectYears)
        {
            if (!projectsModels.ContainsKey(projYear.Year))
            {
                projectsModels.Add(projYear.Year, new());
                }


            }

        */
    }

    private void PopulateCareerLogs()
    {
        DateTime date;

        var kooAppsCareer = new CareerLogsModel
        (
            key: 0,
            startDate: DateTime.TryParseExact("04-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            endDate: DateTime.TryParseExact("07-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            company: "Kooapps Philippines Corporation",
            position: "Quality Assurance Intern",
            descriptionParagraphs: new List<string>
            {
                "At Kooapps Philippines, I was tasked with manually running test cases on selected applications, " +
                "reporting and documenting defects found across testing, and researching new ideas and tools to " +
                "enhance QA workflow."
            },
            achievements: new List<string>
            {
                "Logged over 150 defects", "Researched a new QA tool", "Learned proper documentation procedures"
            },
            logo: "/company/kooapps/kooapps-logo.png",
            report: "/company/kooapps/kooapps-report.png",
            hasReport: true
        );

        var kooAppsCareer1 = new CareerLogsModel
        (
            key: 1,
            startDate: DateTime.TryParseExact("02-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            endDate: DateTime.TryParseExact("03-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            company: "Kooapps Philippines Corporation 1",
            position: "Quality Assurance Intern",
            descriptionParagraphs: new List<string>
            {
                "At Kooapps Philippines, I was tasked with manually running test cases on selected applications, " +
                "reporting and documenting defects found across testing, and researching new ideas and tools to " +
                "enhance QA workflow."
            },
            achievements: new List<string>
            {
                "Logged over 150 defects", "Researched a new QA tool", "Learned proper documentation procedures"
            },
            logo: "/company/kooapps/kooapps-logo.png",
            report: "/company/kooapps/kooapps-report.png",
            hasReport: true
        );

        var kooAppsCareer2 = new CareerLogsModel
        (
            key: 2,
            startDate: DateTime.TryParseExact("12-25", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            endDate: DateTime.TryParseExact("01-26", "MM-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
            company: "Kooapps Philippines Corporation 2",
            position: "Quality Assurance Intern",
            descriptionParagraphs: new List<string>
            {
                "At Kooapps Philippines, I was tasked with manually running test cases on selected applications, " +
                "reporting and documenting defects found across testing, and researching new ideas and tools to " +
                "enhance QA workflow."
            },
            achievements: new List<string>
            {
                "Logged over 150 defects", "Researched a new QA tool", "Learned proper documentation procedures"
            },
            logo: "/company/kooapps/kooapps-logo.png",
            report: "/company/kooapps/kooapps-report.png",
            hasReport: true
        );

        careerLogsModels = new Dictionary<int, CareerLogsModel>
        {
            {
                kooAppsCareer.Key, kooAppsCareer
            },
            {
                kooAppsCareer1.Key, kooAppsCareer1
            },
            {
                kooAppsCareer2.Key, kooAppsCareer2
            }
        };

        var firstModel = careerLogsModels.Values.OrderByDescending(t => t.EndDate).FirstOrDefault();

        SwitchSelectedCareer(firstModel.Key);
    }

    private void PopulateAcknowledgementTypes()
    {
        acknowledgementTypesModels = new List<AcknowledgementTypeModel>
        {
            new AcknowledgementTypeModel
            (
                acknowledgementType: AcknowledgementTypes.Certificates,
                acknowledgementName: "Certificates"
            ),
            new AcknowledgementTypeModel
            (
                acknowledgementType: AcknowledgementTypes.SkillBadges,
                acknowledgementName: "Skill Badges"
            )
        };

        SwitchSelectedAcknowledgementType(AcknowledgementTypes.Certificates);
    }

    private void PopulateCertificates()
    {
        DateTime date;

        var comptiaList = new List<CertificateModel>
        {
            new CertificateModel
            (
                certificateName: "COMPTIA Tech+",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new CertificateModel
            (
                certificateName: "COMPTIA Tech+ 1",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new CertificateModel
            (
                certificateName: "COMPTIA Tech+ 2",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            )
        };

        var googleList = new List<CertificateModel>
        {
            new CertificateModel
            (
                certificateName: "Google Cloud Tech+",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new CertificateModel
            (
                certificateName: "Google Cloud Tech+ 1",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new CertificateModel
            (
                certificateName: "Google Cloud Tech+ 2",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            )
        };

        var comptiaIssuerModel = new CertificateIssuerModel
        (
            issuer: "COMPTIA",
            certificates: comptiaList
        );
        var googleIssuerModel = new CertificateIssuerModel
        (
            issuer: "Google",
            certificates: googleList
        );

        certificateIssuerModels = new List<CertificateIssuerModel>
        {
            comptiaIssuerModel, googleIssuerModel
        };
    }

    private void PopulateSkillBadges()
    {
        DateTime date;

        var comptiaList = new List<SkillBadgeModel>
        {
            new SkillBadgeModel
            (
                skillBadgeName: "COMPTIA Tech+",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new SkillBadgeModel
            (
                skillBadgeName: "COMPTIA Tech+ 1",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new SkillBadgeModel
            (
                skillBadgeName: "COMPTIA Tech+ 2",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            )
        };

        var googleList = new List<SkillBadgeModel>
        {
            new SkillBadgeModel
            (
                skillBadgeName: "Google Cloud Tech+",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new SkillBadgeModel
            (
                skillBadgeName: "Google Cloud Tech+ 1",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            ),
            new SkillBadgeModel
            (
                skillBadgeName: "Google Cloud Tech+ 2",
                dateIssued: DateTime.TryParseExact("12-12-25", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out date) ? date : DateTime.Today,
                source: "https://www.credly.com/badges/d64a1103-c95a-46a6-8e3d-96ce84758a75/public_url",
                hasSource: true
            )
        };

        var comptiaIssuerModel = new SkillBadgeIssuerModel
        (
            issuer: "COMPTIA",
            certificates: comptiaList
        );
        var googleIssuerModel = new SkillBadgeIssuerModel
        (
            issuer: "Google",
            certificates: googleList
        );

        skillBadgeIssuerModels = new List<SkillBadgeIssuerModel>
        {
            comptiaIssuerModel, googleIssuerModel
        };
    }

    private void PopulateContact()
    {
        contactModel = new ContactModel
        (
            mainDescriptionParagraphs: new List<string>
            {
                "Ready for the next quest.",
                "Let's build something great together."
            },
            subDescriptionParagraphs: new List<string>
            {
                "Reach me through any of the channels below:"
            },
            contactChannels: new List<ContactChannelModel>
            {
                new ContactChannelModel
                (
                    channelName: "Email",
                    channelLink: "mailto:renz.malabanan1816@gmail.com",
                    sVGType: SVGTypes.Email
                ),
                new ContactChannelModel
                (
                    channelName: "LinkedIn",
                    channelLink: "https://www.linkedin.com/in/renz-malabanan",
                    sVGType: SVGTypes.LinkedIn
                ),
                new ContactChannelModel
                (
                    channelName: "Github",
                    channelLink: "https://github.com/Lithosfear23",
                    sVGType: SVGTypes.Github
                )
            },
            locationText: "Currently based in the Philippines.",
            openJobText: "Open to entry-level software engineering opportunities."
        );
    }

    private async Task SwitchSelectedProjectYear(int year)
    {
        selectedYear = year;

        await SwitchSelectedProject(selectedYear, SlideDirections.None);

        await InvokeAsync(StateHasChanged);
    }

    public async Task SwitchSelectedProject(int year, SlideDirections direction)
    {
        if (projectsModels.TryGetValue(year, out var model))
        {
            if (model == null) return;

            // -1 is to ensure that the length is accounting for index 0
            var length = model.Count - 1;

            if (direction == SlideDirections.Next) projectModelIndex++;
            else if (direction == SlideDirections.Previous) projectModelIndex--;
            else if (direction == SlideDirections.None) projectModelIndex = 0;

            // Ensures if next is pressed while at max length, slide goes back to 0
            if (projectModelIndex > length) projectModelIndex = 0;
            // Ensures if previous is pressed while at max length, slide goes back to 0
            if (projectModelIndex < 0) projectModelIndex = length;

            selectedProjectModel = projectsModels[year][projectModelIndex];

            SwitchSelectedMedia(0);

            await InvokeAsync(StateHasChanged);
        }
    }

    private void SwitchCapstoneMedia(int key)
    {
        if (capstoneProjectModel != null)
        {
            selectedCapstoneProjectMedia = capstoneProjectModel.Medias.FirstOrDefault(t => t.Key == key);

            if (selectedCapstoneProjectMedia.IsVideo && selectedCapstoneProjectMedia.Type == FileTypes.PNG)
                selectedCapstoneProjectMedia = capstoneProjectModel.Medias.FirstOrDefault();

            isCapstoneVideoSelected = selectedCapstoneProjectMedia.IsVideo;
        }
    }

    public void SwitchSelectedMedia(int key)
    {
        if (selectedProjectModel != null)
        {
            if (!isGalleryOpened)
            {
                selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault(t => t.Key == key);

                if (selectedProjectMedia.IsVideo && selectedProjectMedia.Type == FileTypes.PNG)
                    selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault();

                isVideoSelected = selectedProjectMedia.IsVideo;
            }
            else
            {
                selectedGalleryProjectMedia = selectedProjectModel.Medias.FirstOrDefault(t => t.Key == key);
            }
        }
    }

    private void SwitchSelectedCareer(int key)
    {
        if (careerLogsModels.TryGetValue(key, out var careerLogsModel))
        {
            selectedCareerLogsModel = careerLogsModel;
        }
    }

    private void SwitchSelectedAcknowledgementType(AcknowledgementTypes acknowledgementType)
    {
        selectedAcknowledgementTypeModel = acknowledgementTypesModels
            .FirstOrDefault(t => t.AcknowledgementType == acknowledgementType);
    }

    public void ToggleGalleryView(bool state, int key = 0)
    {
        if (key != 0)
        {
            selectedGalleryProjectMedia = selectedProjectModel.Medias[key];
        }

        isGalleryOpened = state;
    }
}