@using System.Globalization
@page "/"
@inject IJSRuntime JS

<PageTitle>Renz Malabanan</PageTitle>

<!--

    DEFAULT STYLING

    FONT-HERO text-5xl sm:text-6xl md:text-7xl uppercase
    FONT-HEADING text-center md:text-start text-blue-400 tracking-[0.3em]
    FONT-BODY text-center md:text-start text-lg leading-6 text-slate-300
    PRIMARY BUTTON  bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white 
                    py-3 px-5 rounded-md font-body transition-all duration-200
    SECONDARY BUTTON  border border-blue-400 text-blue-400 hover:text-white hover:shadow-lg hover:border-white hover:-translate-y-1
                      py-3 px-3 rounded-md transition-all duration-200

-->

<!-- HOME SECTION -->
<section 
    id="home"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center gap-12 pt-8">

    <div class="mx-auto w-full md:ps-20 max-w-7xl space-y-3">
        
        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Loading player 016...</p>

        <div class="text-center md:text-start">
            <h1 class="inline-block font-hero text-5xl sm:text-6xl md:text-7xl uppercase">Renz Malabanan</h1>
        </div>


        <p class="font-heading text-xl text-blue-400 text-center md:text-start uppercase tracking-[0.3em]">Full-stack .NET Developer</p>

        <p class="font-body text-center md:text-start text-lg leading-6 text-slate-300">
            Building modern web applications, <br/>
            IoT Systems, and interactive experience
        </p>

        <div class="flex flex-row justify-center md:justify-start gap-3 mt-8">

            <a 
                href="#projects"
                class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white 
                py-3 px-5 rounded-md font-body transition-all duration-200">
                View Projects
            </a>

            <a 
                href="/practicum/Resume - Malabanan_Renz_Bryle_M.pdf"
                target="_blank"
               class="border border-blue-400 text-blue-400 hover:text-white hover:shadow-lg hover:border-white hover:-translate-y-1
                py-3 px-3 rounded-md transition-all duration-200">
                Download Resume
            </a>

        </div>

    </div>

    <div class="mx-auto w-75 md:w-1/2 max-w-3xl px-6">

        <img 
            class="border border-blue-400 rounded-2xl"
            src="/practicum/2021151532 - Malabanan, Renz Bryle.png" />

    </div>

</section>

<!-- ABOUT SECTION -->
<section 
    id="about"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-7xl space-y-8">

        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Character Sheet</p>
        
        <div class="text-center">
        
            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">About</h1>

        </div>

        <div class="max-w-3xl mx-auto text-center font-body text-slate-300 text-lg space-y-3 leading-6">

            <div>
                I am a fourth-year Information Technology student specializing in the Internet of Things (IoT),
                with a passion for building modern web applications and connected systems.
            </div>
            <div>
                I enjoy exploring game mechanics, understanding how systems work under the hood,
                and developing applications that combine functionality with an intuitive user experience.
            </div>

            <div class="font-heading text-sm text-center text-blue-400 tracking-[0.3em] pt-8">
                > Skills Unlocked:
            </div>
            <div class="flex flex-wrap items-center justify-center gap-4">

                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    C#
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    Kotlin
                </div>
                <div class="bg-blue-500  hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    PHP
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    Tailwind
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    SQL
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    .NET Blazor
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    RESTful API
                </div>
                <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center justify-center
                    w-26 h-8 text-center rounded-md font-body transition-all duration-200">
                    IoT
                </div>

            </div>

        </div>

    </div>

</section>

<!-- PROJECTS SECTION -->
<section 
    id="projects"
    class="min-h-screen flex flex-col md:flex-row justify-center items-center py-16">

    <div class="w-full max-w-7xl space-y-8">
        
        <p class="font-heading text-sm text-center md:text-start text-blue-400 tracking-[0.3em]"> > Completed Quests</p>

        <div class="text-center">

            <h1 class="inline-block font-heading text-5xl sm:text-6xl md:text-7xl uppercase">Projects</h1>

        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em]"> > Main Quest</p>

        <div class="text-center">

            <h1 class="inline-block font-body text-slate-300 text-5xl uppercase">PlanterAid</h1>

        </div>

        <div class="flex flex-col items-center text-start font-body text-slate-300 text-lg space-y-3 leading-6 px-3">

            <img class="border border-blue-400 rounded-2xl"
                 src="/practicum/2021151532 - Malabanan, Renz Bryle.png" />


            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum finibus tellus sit amet tempor sollicitudin.
                Vestibulum id velit vel felis vehicula malesuada in ornare orci. Aenean dapibus, est nec facilisis dignissim,
                velit velit semper erat, non dignissim enim tellus sit amet dui. Curabitur suscipit risus eu ex mollis,
                eu efficitur dui scelerisque. Vestibulum in euismod dolor. Nulla accumsan ante rutrum, lacinia massa ac,
                scelerisque mauris. Curabitur odio est, scelerisque sed cursus sit amet, semper vel turpis. Donec in nibh id
                urna ultrices aliquam sed ut purus. Mauris sit amet nulla eleifend,sodales sem sit amet, tincidunt dui. Sed
                nisi tortor, vehicula id venenatis ac, luctus quis turpis.
            </div>

        </div>

        <p class="font-heading text-sm text-center text-blue-400 tracking-[0.3em]"> > Side Quests</p>
        
        <div class="flex flex-col mx-auto md:w-3xl lg:w-5xl rounded-2xl gap-8 bg-[#39406F]">

            <div class="flex justify-center pt-3">
                
                <div class="flex justify-between px-3 md:w-160 border border-blue-400 text-blue-400 rounded-2xl">

                    @foreach (var year in projectYears)
                    {
                        <div class="
                            text-center w-15 rounded-2xl hover:text-white
                            hover:shadow-lg cursor-pointer transition-all duration-200 hover:border-white hover:-translate-y-1 "
                             @onclick="async () => await SwitchSelectedProjectYear(year.Year)">
                            @if (year.Year == selectedYear)
                            {
                                <div class="underline underline-offset-3 decoration-1 decoration-slate-300">
                                    Year @year.Year
                                </div>
                            }
                            else
                            {
                                <div>
                                    Year @year.Year
                                </div>
                            }
                        </div>
                    }

                </div>

            </div>

            <div class="flex flex-col justify-between py-3 px-1.25 md:px-3 gap-5">
                @if (selectedProjectModel != null)
                {
                    var mediaCount = Math.Min(displayedMedia - 1, selectedProjectModel.Medias.Count);
                    var videoMedia = selectedProjectModel.Medias.Where(t => t.IsVideo).FirstOrDefault();
                    var videoThumb = selectedProjectModel.Medias
                        .Where(t => t.IsVideo && t.Type == FileTypes.PNG)
                        .FirstOrDefault();

                    <div class="flex flex-col md:flex-row justify-between gap-1.5 md:gap-2">
                        <div class="mx-auto flex flex-col gap-2">
                            <div class="flex justify-between border border-blue-400 text-blue-400 rounded-2xl py-3 px-2">
                                <button class="flex justify-center items-center"
                                        @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-left
                                         cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M11 17h6l-4 -5l4 -5h-6l-4 5l4 5" />
                                    </svg>
                                </button>
                                <div class="flex justify-center">
                                    @if (isVideoSelected)
                                    {
                                        <video autoplay muted loop playsinline controls>
                                            <source src="@videoMedia?.Source">
                                        </video>
                                    }
                                    else
                                    {
                                        <img src="@selectedProjectMedia?.Source" />
                                    }
                                </div>
                                <button class="flex justify-center items-center" 
                                        @onclick="async () => await SwitchSelectedProject(selectedYear, SlideDirections.Next)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-badge-right
                                        cursor-pointer transition-all duration-200 hover:shadow-lg hover:-translate-y-1">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M13 7h-6l4 5l-4 5h6l4 -5l-4 -5" />
                                    </svg>
                                </button>
                            </div>
                            <div class="flex justify-center items-center gap-5 py-3 px-2 border border-blue-400 text-blue-400 rounded-2xl">
                                <div class="relative w-28 h-12 group transition-all duration-200
                                    hover:shadow-lg hover:-translate-y-1">
                                    <button class="relative w-full h-full cursor-pointer" @onclick="() => SwitchSelectedMedia(videoThumb.Key)">
                                        @if (selectedProjectMedia.IsVideo)
                                        {
                                            <img class="w-full h-full object-cover border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                                 src="@videoThumb?.Source" />
                                        }
                                        else
                                        {
                                            <img class="w-full h-full"
                                                 src="@videoThumb?.Source" />
                                        }

                                        <div class="absolute inset-0 flex items-center justify-center text-slate-300">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                 fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-player-play">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>

                                @for (int i = 0; i < mediaCount; i++)
                                {
                                    var media = selectedProjectModel.Medias[i];

                                    if (media.Source != videoMedia?.Source && media.Source != videoThumb?.Source)
                                    {
                                        if (selectedProjectMedia.Key == media.Key)
                                        {
                                            <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                                 hover:-translate-y-1 border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                                 src="@media.Source" 
                                                 @onclick="() => SwitchSelectedMedia(media.Key)"/>
                                            
                                        }
                                        else {
                                            <img class="w-28 h-12 cursor-pointer transition-all duration-200 hover:shadow-lg
                                                 hover:-translate-y-1"
                                                 src="@media.Source" 
                                                 @onclick="() => SwitchSelectedMedia(media.Key)"/>
                                        }
                                    }
                                }

                                @if (selectedProjectModel.Medias.Count > mediaCount)
                                {
                                    <div class="relative w-28 h-12 bg-black/90 group cursor-pointer transition-all duration-200
                                            hover:shadow-lg hover:-translate-y-1">
                                        <button @onclick="() => ToggleGalleryView(true, mediaCount + 1)">
                                            <img class="w-full h-full blur-sm"
                                                 src="@selectedProjectModel.Medias[mediaCount]" />

                                            <div class="absolute inset-0 flex items-center justify-center text-slate-300">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                                     fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                                     stroke-linejoin="round"
                                                     class="icon icon-tabler icons-tabler-outline icon-tabler-square-plus">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <path d="M9 12h6" />
                                                    <path d="M12 9v6" />
                                                    <path d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14" />
                                                </svg>
                                                <div class="ps-1">
                                                    @(selectedProjectModel.Medias.Count - mediaCount)
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                }
                                
                            </div>
                        </div>
                        <div class="mx-auto flex flex-col items-center justify-center font-body
                            text-slate-300 p-3 border border-blue-400 text-blue-400 rounded-2xl gap-3">
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Powered By: </div>
                            <div class="flex flex-wrap justify-center gap-3">
                                @foreach (var tech in selectedProjectModel.TechStack)
                                {
                                    <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center
                                        justify-center w-22 h-4 text-center rounded-md font-body cursor-pointer transition-all duration-200">
                                        @tech
                                    </div>
                                }
                            </div>
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Status: </div>
                            <div class="bg-blue-500 hover:bg-blue-400 hover:shadow-lg hover:-translate-y-1 text-white flex items-center
                                justify-center w-22 h-4 text-center rounded-md font-body cursor-pointer transition-all duration-200">
                                @selectedProjectModel.ProjectStatus
                            </div>
                        </div>
                    </div>

                    <div class="mx-auto flex flex-col w-full justify-center font-body text-slate-300 border border-blue-400
                        text-blue-400 rounded-2xl p-3 gap-3">
                        <div class="flex flex-row gap-4">
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Project Title: </div>
                            <div>@selectedProjectModel.ProjectName</div>
                        </div>
                        <div class="flex flex-row max-h-[100px] gap-4">
                            <div class="underline underline-offset-3 decoration-1 decoration-slate-300 font-bold">Project Description: </div>
                            <div class="overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">
                                @selectedProjectModel.Description
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h1 class="font-body text-3xl text-slate-300 font-bold">Nothing to display.</h1>
                }

            </div>

        </div>

    </div>

</section>

<!-- EXPERIENCE SECTION -->
<section id="experience">
</section>

<!-- RESUME SECTION -->
<section id="resume">
</section>

<!-- CONTACT SECTION -->
<section id="contact">
</section>

<!-- MODALS -->

<!-- GALLERY -->
@if (isGalleryOpened)
{
    var mediaCount = Math.Min(displayedMedia - 1, selectedProjectModel.Medias.Count);
    var maxAvailableMedia = Math.Max(mediaCount + 1, selectedProjectModel.Medias.Count);

    <div class="fixed inset-0 bg-black/70 flex items-center justify-center z-50 transition-opacity duration-5000
        @(isGalleryOpened ? "opacity-100" : "opacity-0 pointer-events-none")"
        @onclick="() => ToggleGalleryView(false)">

        <div class="flex flex-col bg-[#39406F] rounded-xl w-[900px] max-w-[90vw] h-[400px] gap-3 p-3 transition-all duration-300
            @(isGalleryOpened
                ? "opacity-100 scale-100"
                : "opacity-0 scale-95")"
            @onclick:stopPropagation>

            <button class="flex justify-end text-slate-300"
                    @onclick="() => ToggleGalleryView(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-x
                     cursor-pointer transition-all hover:shadow-lg hover:-translate-y-1">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" /><path d="M6 6l12 12" />
                </svg>
            </button>

            <div class="flex font-body text-slate-300 text-2xl justify-center border-y">
                Gallery
            </div>

            <div class="flex-1 flex flex-col md:flex-row w-full gap-3 overflow-hidden">

                <!-- Viewer -->
                <div class="flex justify-center items-center flex-1 h-full w-full md:w-5xl">

                    <img class="max-h-full max-w-full object-contain"
                         src="@selectedGalleryProjectMedia.Source" />

                </div>

                <!-- Thumbnails -->
                <div class="flex flex-row md:flex-col gap-3 p-3 w-75 overflow-y-auto scroll-smooth scrollbar-thumb-blue-400">

                    @for (int i = mediaCount + 1; i < maxAvailableMedia; i++)
                    {
                        var media = selectedProjectModel.Medias[i];
                        if (selectedGalleryProjectMedia.Key == selectedProjectModel.Medias[i].Key)
                        {
                            <img class="max-h-full max-w-full object-contain cursor-pointer transition-all duration-200 hover:shadow-lg
                                hover:-translate-y-1 border-b border-blue-400 shadow-xl/15 shadow-sky-300"
                                src="@media.Source"
                                @onclick="() => SwitchSelectedMedia(media.Key)" />

                        }
                        else
                        {
                            <img class="max-h-full max-w-full object-contain cursor-pointer transition-all duration-200 hover:shadow-lg
                                 hover:-translate-y-1"
                                 src="@media.Source"
                                 @onclick="() => SwitchSelectedMedia(media.Key)" />
                        }
                    }

                </div>

            </div>

        </div>

    </div>
}

<!-- GALLERY BIG SINGLE VIEW -->
@if (false)
{
    <div class="fixed inset-0 bg-black/70 flex items-center justify-center z-50">

        <div class="flex flex-col bg-[#39406F] rounded-xl p-5 w-[900px] max-w-[90vw] md:h-[550px] gap-3 p-3">

            <div button class="flex justify-end text-slate-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-x hover:shadow-lg hover:-translate-y-1">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                </svg>
            </div>

            <div class="flex font-body text-slate-300 text-2xl justify-center border-y">
                1 of x
            </div>

            <div class="flex-1 flex items-center justify-center overflow-hidden">

                <img class="max-h-full max-w-full object-contain"
                     src="/projects/year 1/4 pics 1 word/4 pics 1 word - thumb 1.png" />

            </div>

        </div>

    </div>
}


@code {
    //Models
    private List<ProjectYears> projectYears = new();
    private ProjectsModel? selectedProjectModel;
    private ProjectMedia? selectedProjectMedia;
    private ProjectMedia? selectedGalleryProjectMedia;

    //Dictionaries
    private Dictionary<int, List<ProjectsModel>> projectsModels = new();

    //Strings
    private string projectSelectedYear = "";

    //Int
    private int selectedYear = 0;
    private int projectModelIndex = 0;
    private int projectMediaIndex = 0;
    private int displayedMedia = 0;

    //Const
    private const int MAX_DISPLAYED_MEDIA = 4;

    //Bool
    private bool isSelectedProjectYear = false;
    private bool isVideoSelected = true;
    private bool isGalleryOpened = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            PopulateYearStore();
            PopulateProjectStore();

            var width = await JS.InvokeAsync<int>("GetWindowSize");

            displayedMedia = width <= 320 ? MAX_DISPLAYED_MEDIA - 1 : MAX_DISPLAYED_MEDIA;

            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task SwitchSelectedProjectYear(int year)
    {
        foreach (var projYear in projectYears)
        {
            if (projYear.Year == year) projYear.Selected = true;
            else projYear.Selected = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void PopulateYearStore()
    {
        for (int i = 1; i < 5; i++)
        {
            projectYears.Add(
                new ProjectYears
                {
                    Year = i
                }
            );
        }

        selectedYear = projectYears.Select(t => t.Year).FirstOrDefault();
    }

    private void PopulateProjectStore()
    {
        List<ProjectsModel> yearOneProjectModels = new List<ProjectsModel>
        {

            new ProjectsModel
            {
                Date = DateTime.TryParseExact("02-03-26", "MM-dd-yy", CultureInfo.InvariantCulture, DateTimeStyles.None,
                out var date) ? date : DateTime.Today,
                ProjectName = "4 Pics 1 Word",
                ProjectStatus = "Complete",
                TechStack = new List<string>
                {
                    "Python", "Tkinter"
                },
                Medias = new List<ProjectMedia>
                {
                    new (key: 0, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-gameplay-demo.mp4", type: FileTypes.MP4, isVideo: true),
                    new (key: 1, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-1.png", type: FileTypes.PNG),
                    new (key: 2, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-2.png", type: FileTypes.PNG),
                    new (key: 3, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-3.png", type: FileTypes.PNG),
                    new (key: 4, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-4.png", type: FileTypes.PNG),
                    new (key: 5, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-5.png", type: FileTypes.PNG),
                    new (key: 6, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-thumb-6.png", type: FileTypes.PNG),
                    new (key: 7, source: "/projects/year-1/4-pics-1-word/4-pics-1-word-video-thumb.png", type: FileTypes.PNG, isVideo: true),
                },
                Description = """"
                A desktop word puzzle game developed in Python using Tkinter, inspired by the popular mobile game "4 Pics 1 Word". 
                This was the very first complete project I built and marked the beginning of my software development journey.
                """"
            }

        };

        projectsModels = new Dictionary<int, List<ProjectsModel>>
        {
            {
                1, yearOneProjectModels
            }
        };

        if (projectsModels.TryGetValue(selectedYear, out var model)) 
        {
            if (model != null)
            {
                selectedProjectModel = model.FirstOrDefault();
                selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault();
            }
        }

        /*
        Lol you don't have a DB.. Hardcoding for portfolio is fine 

            foreach (var projYear in projectYears)
        {
            if (!projectsModels.ContainsKey(projYear.Year))
            {
                projectsModels.Add(projYear.Year, new());
                }


            }

        */
    }

    public async Task SwitchSelectedProject(int year, SlideDirections direction)
    {
        if (projectsModels.TryGetValue(year, out var model))
        {
            if (model == null) return;

            // -1 is to ensure that the length is accounting for index 0
            var length = model.Count - 1;

            if (direction == SlideDirections.Next) projectModelIndex++;
            else if (direction == SlideDirections.Previous) projectModelIndex--;

            // Ensures if next is pressed while at max length, slide goes back to 0
            if (projectModelIndex > length) projectModelIndex = 0;
            // Ensures if previous is pressed while at max length, slide goes back to 0
            if (projectModelIndex < 0) projectModelIndex = length;

            selectedProjectModel = projectsModels[year][projectModelIndex];

            await InvokeAsync(StateHasChanged);
        }
    }

    public void SwitchSelectedMedia(int key)
    {
        if (selectedProjectModel != null)
        {
            if (!isGalleryOpened)
            {
                selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault(t => t.Key == key);

                if (selectedProjectMedia.IsVideo && selectedProjectMedia.Type == FileTypes.PNG)
                    selectedProjectMedia = selectedProjectModel.Medias.FirstOrDefault();

                isVideoSelected = selectedProjectMedia.IsVideo;
        }

            else
            {
                selectedGalleryProjectMedia = selectedProjectModel.Medias.FirstOrDefault(t => t.Key == key);
            }
        }
    }

    public void ToggleGalleryView(bool state, int key = 0)
    {
        if (key != 0)
        {
            selectedGalleryProjectMedia = selectedProjectModel.Medias[key];
        }

        isGalleryOpened = state;
    }
}